$c-primary-dark-gray: #2f3b42;
$c-secondary-dark-gray: #3e4b52;
$c-primary-gray: #868d91;
$c-primary-light-gray: #e4e4e4;
$c-secondary-light-gray: #ededed;
$c-white: #fff;
$c-primary-limegreen: #ccc53c;


$c-header-bg: $c-primary-dark-gray;
$c-header-text: $c-white;
$c-header-logo: $c-primary-gray;
$c-header-menu-element-bg: $c-secondary-dark-gray;
$c-input-bg: $c-secondary-light-gray;
$c-input-border: $c-primary-light-gray;
$c-main-content-header-box-border: $c-primary-light-gray;
$c-tag-button-bg: $c-primary-light-gray;
$c-tag-button-text: $c-primary-gray;
$c-clear-tags: $c-primary-gray;
$c-items-count: $c-primary-gray;
$c-tag-button-bg-active: $c-primary-limegreen;
$c-tag-button-text-active: $c-white;
$c-main-content-item-shadow: $c-primary-light-gray;
$c-main-content-load-more-button-bg: $c-primary-gray;
$c-main-content-load-more-button-bg-hover: $c-primary-limegreen;
$c-main-content-load-more-button-text: $c-white;
$c-footer-bg: $c-primary-dark-gray;
$c-footer-text: $c-white;
$c-footer-buttons-bg: $c-primary-gray;
$c-footer-buttons: $c-primary-dark-gray;